@font-face {
  font-family: 'iconfont';  /* project id 1739883 */
  src: url('//at.alicdn.com/t/font_1739883_5z68obkcbld.eot');
  src: url('//at.alicdn.com/t/font_1739883_5z68obkcbld.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1739883_5z68obkcbld.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1739883_5z68obkcbld.woff') format('woff'),
  url('//at.alicdn.com/t/font_1739883_5z68obkcbld.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1739883_5z68obkcbld.svg#iconfont') format('svg');
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-blog:before {
	content: '\e603';
}

.icon-about:before {
	content: '\e694';
}

.icon-guestbook:before {
	content: '\e662';
}

.icon-email:before {
	content: '\e606';
}

.icon-projects:before {
	content: '\e633';
}

.icon-github:before {
	content: '\e718';
}

.icon-other:before {
	content: '\e78a';
}
